.brief{
    padding: 20px 0 40px;

    &-container{
        max-width: 1140px;
        margin: 0 auto;
    }

    &-title{
        color: white;
        font-size: 30px;
        margin-bottom: 50px;
    }

    &-text{
        color: white;
        text-indent: 20px;
        text-align: justify;
        
        &-title{
            color: white;
            text-indent: 20px;
            font-weight: 700;
            font-size: 20px;
            margin-bottom: 15px;
        }
    }

    &-ul{
        list-style-type: square;
        padding-left: 40px;
        margin: 10px;
    }

    &-li{
        color: white; 
        text-indent: 10px;
        text-align: justify;
        margin-bottom: 5px;

        &-bold{
            font-weight: 700;
        }

        &:last-child{
            margin-bottom: 0px;
        }
    }

    &-form{
        display: flex;
        flex-direction: column;
        text-align: center;
        border-radius: 35px;
        background-color: transparent;
        padding: 20px;
        margin: 70px auto 30px;
        border: 2px solid rgb(142, 142, 142);
        background-color: rgb(35, 35, 35);
        width: 940px;

        &-title{
            color: white;
            font-size: 24px;
            margin: 20px 0 20px;
        }

        &-grid{
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 0px 50px;

            &-cell{
                text-align: center;
            }
        }

        &-label{
            display: inline-block;
            text-align: start;
            font-size: 16px;
            line-height: 18px;
            color: white;
            width: 430px;
            margin: 20px 0px 10px 13px;
        }

        &-input{
            display:inline-block;
            width: 430px;
            height: 100px;
            border: 2px solid white;
            background: transparent;
            border-radius: 15px;
            padding-left: 13px;
            box-sizing: border-box;
            color: white;
            font-weight: 700;
            font-size: 14px;
            line-height: 18px;
        }


        &-error-message{
            display: inline-block;
            font-weight: 700;
            font-size: 11px;
            line-height: 18px;
            text-align: start;
            margin: 5px 0 0px 13px;
            color: white;
            width: 430px;
    
            &-notLast{
                margin-top: 13px;
            }
        }
    }  
}

@media screen and (max-width: 430px){
    .brief{
        &-container{
            max-width: 340px;
        }

        &-title{
            text-align: center;
        }

        &-form{
            margin: 30px auto 20px;
            width: 300px;
    
            &-title{
                font-size: 20px;
                margin: 0 0 20px;
            }
    
            &-grid{
                display: flex;
                flex-direction: column;
                width: 300px;
            }
    
            &-label{
                width: 300px;
                font-size: 14px;
                margin: 10px 0px 5px 10px;
            }
    
            &-input{
                width: 300px;
            }
    
            &-error-message{
                width: 300px;
            }
        }  
    }
}

@media screen and (max-width: 360px){
    .brief{
        &-container{
            max-width: 320px;
        }
    
        &-title{
            font-size: 22px;
            margin-bottom: 30px;
            text-align: center;
        }
    
        &-text{
            font-size: 14px;
            padding: 0 10px;
            
            &-title{
                text-indent: 10px;
                font-size: 14px;
                margin: 0 10px 15px;
                padding: 0 10px;
            }
        }
    
        &-ul{
            padding-left: 20px;
        }
    
        &-li{
            text-indent: 0px;
            font-size: 14px;
        }
    
        &-form{
            margin: 30px auto 20px;
            width: 260px;
    
            &-grid{
                width: 260px;
            }
    
            &-label{
                width: 260px;
            }
    
            &-input{
                width: 260px;
            }
    
            &-error-message{
                width: 300px;
            }
        }  
    }
}

@media screen and (max-width: 320px){
    .brief{
        &-container{
            max-width: 300px;
        }

        &-text{

            &-title{
                text-align: justify;
            }
        }
    
        &-form{
    
            &-title{
                font-size: 20px;
            }

            &-error-message{
                width: 280px;
            }
        }  
    }
}
